template(name="task")
  if checked
    li.checked
      button.delete &times;
      input.toggle-checked(type="checkbox" checked="#{checked}")
      span.text <strong>#{username}</strong> - #{text}
  else
    li
      button.delete &times;
      input.toggle-checked(type="checkbox" checked="#{checked}")
      span.text <strong>#{username}</strong> - #{text}
